::-webkit-scrollbar{
    width: 7px;

}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color:#fcb503;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

